@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 250 250 250;
  --foreground: 15 23 42;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: rgb(250, 250, 250);
  color: #0f172a;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

/* Custom UI Components for Tomiwa.sys */
.project-card {
  @apply bg-white border border-slate-200 rounded-[2.5rem] p-8 transition-all duration-500;
  box-shadow: 0 10px 30px -10px rgba(0,0,0,0.04);
}

.project-card:hover {
  @apply -translate-y-2 border-blue-600 shadow-2xl shadow-blue-900/5;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}